/*----- Fonts -----*/
@font-face {
  font-family: Montserrat-Regular;
  src: url('../fonts/montserrat/Montserrat-Regular.ttf');
}

@font-face {
  font-family: Montserrat-Bold;
  src: url('../fonts/montserrat/Montserrat-Bold.ttf');
}

@font-face {
  font-family: Montserrat-ExtraBold;
  src: url('../fonts/montserrat/Montserrat-ExtraBold.ttf');
}

/*----- Login home screen -----*/
.logobtn {
  display: block;
  margin-right: auto;
  margin-left: auto;
  margin-top: 20%;
  border-radius: 100%;
  background: #3881cc;
  padding: 20px;
  width: 150px;
  height: 150px;
  outline: none;
}

.logobtn:hover {
  box-shadow: 0 4px 8px 4px rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.welcome {
  font-family: Montserrat-Regular;
  font-size: 30px;
  line-height: 1.5;
  color: white;
  text-decoration: none;
  text-align: center;
  word-break: normal;
  padding: 10px;
  margin-left: 20%;
  margin-right: 20%;
  background-color: rgb(42, 43, 42);
}

body {
  background: url('../images/background.jpg') no-repeat center center fixed;
  background-size: cover;
}

/*----- Pop up login screen -----*/
.modal {
  display: none;
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.6);
}

.modal-content {
  background-color: white;
  position: relative;
  margin: auto;
  margin-top: 15%;
  width: 30%;
  height: 53%;
  border-radius: 25px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

/*----- Modal Header -----*/
.imgcontainer {
  text-align: center;
  margin-top: 20px;
  margin-bottom: 25px;
  position: relative;
  padding-top: 20px;
}

.closebtn {
  width: 25px;
  height: 25px;
  right: 10px;
  top: 10px;
  position: absolute;
  filter: contrast(50%);
  outline: none;
}

.closebtn:hover,
.closebtn:focus {
  filter: contrast(75%);
  cursor: pointer;
}

.logo-pop-up-screen {
  width: 20%;
  height: 20%;
  display: block;
  margin-right: auto;
  margin-left: auto;
  border-radius: 100%;
  background: #3881cc;
  padding: 20px;
}

.sign-in-header {
  font-family: Montserrat-ExtraBold !important;
  color: rgb(42, 43, 42);
  font-size: 24px;
  line-height: 1.2;
  text-align: center;
  width: 100%;
  display: block;
  padding-top: 20px;
}

/*----- Modal body - username and password input -----*/
.container {
  position: relative;
}

.input-wrapper {
  position: relative;
  width: 100%;
  z-index: 1;
}

input[type='text'],
input[type='password'] {
  display: block;
  border-radius: 25px;
  background: rgba(41, 38, 38, 0.04);
  height: 50px;
  border: 1px solid transparent;
  margin: auto;
  margin-top: 10px;
  margin-bottom: 10px;
  width: 65%;
  padding-left: 60px;
  text-align: left;
  outline: none;

  font-family: Montserrat-Bold;
  font-size: 15px;
  line-height: 1.2;
  color: rgb(42, 43, 42);
  text-align: left;
  letter-spacing: 1px;
}

.symbol-input {
  font-size: 15px;
  color: #999999;

  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  align-items: center;
  position: absolute;
  border-radius: 25px;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  pointer-events: none;
  float: left;
  padding-left: 75px;

  -webkit-transition: all 0.4s;
  -o-transition: all 0.4s;
  -moz-transition: all 0.4s;
  transition: all 0.4s;
}

input[type='text']:focus + .symbol-input,
input[type='password']:focus + .symbol-input {
  color: #3881cc;
  padding-left: 70px;
}

input[type='text']:focus,
input[type='password']:focus {
  border: 1px solid rgba(0, 0, 0, 0.18) !important;
}

/*----- Modal footer - login button -----*/
.loginbtn {
  display: block;
  border-radius: 25px;
  background: rgba(41, 38, 38, 0.04);
  height: 50px;
  border: none;
  margin: auto;
  margin-top: 20px;
  margin-bottom: 10px;
  width: 45%;
  text-align: left;
  outline: none;

  font-family: Montserrat-Bold;
  font-size: 15px;
  line-height: 1.2;
  background: rgb(42, 43, 42);
  color: white;
  text-align: center;
  letter-spacing: 1px;
}

.loginbtn:hover {
  background: orange;
  color: white;
}
