/*----- START OF FONTS -----*/
@font-face {
    font-family: Montserrat-Bold;
    src: url('../fonts/montserrat/Montserrat-Bold.ttf'); 
  }
  
  @font-face {
    font-family: Montserrat-ExtraBold;
    src: url('../fonts/montserrat/Montserrat-ExtraBold.ttf'); 
  }
  /*----- END OF FONTS -----*/
  
  * {
      margin: 0px; 
      padding: 0px; 
      box-sizing: border-box;
  }
  
  body, html {
    height: 100%;
  }
  
  .outer {
    width: 100%;
    margin: 0 auto;
  }
  
  .container {
    width: 100%;  
    min-height: 100vh;
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    padding: 15px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    
    position: relative;
    z-index: 1;
  }
  
  .container::before {
    content: "";
    display: block;
    position: absolute;
    z-index: -1;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background: url('../images/background.jpg') no-repeat center center fixed; 
    background-size: cover;
    opacity: 0.6;
  }
  
  .form {
    background-color: #fff;
    width: 400px;
    height: 500px;
    margin: 7em auto;
    border-radius: 1.5em;
    box-shadow: 0px 11px 35px 2px rgba(0, 0, 0, 0.14);
    padding: 50px 0px;
  }
  
  /*----- START OF LOGO AND SIGN IN -----*/
  .form-logo {
    width: 120px;
    height: 120px;
    padding-top: 20px;
    overflow: hidden;
    margin: 0 auto;
  }
  
  .form-logo img {
    width: 100%;
  }
  
  .form-sign {
    font-family: Montserrat-ExtraBold !important;
    color: black;
    font-size: 24px;
    line-height: 1.2;
    text-align: center;
    padding-top: 20px;
    padding-bottom: 25px;
  
    width: 100%;
    display: block;
  }
  /*----- END OF LOGO AND SIGN IN -----*/
  
  /*----- START OF FORM GROUP (Username and Password) -----*/
  .form-group {
    padding-bottom: 10px;
  }
  
  .input {
    position: relative;
    width: 75%;
    margin-bottom: 10px;
    margin-left: 12.5%;
  }
  
  .form-input {
    font-family: Montserrat-Bold;
    font-size: 15px;
    line-height: 1.2;
    text-align: center;
    letter-spacing: 1px;
  
    display: block;
    width: 100%;
    background: rgba(41, 38, 38, 0.04);
    height: 50px;
    border: none;
    border-radius: 25px;
    outline: none;
    box-sizing: border-box;
    padding: 0 30px;
  }
  
  input[type=text]:focus, input[type=password]:focus {
    border: 2px solid rgba(0, 0, 0, 0.18) !important;
    padding: 12px 22px;
  }
  
  /*----- END OF FORM GROUP (Username and Password) -----*/
  
  /*----- START OF FORM ACTIONS (Submit and Cancel )-----*/
  .form-actions {
    align: center;
    padding-top: 10px;
    width: 100%;
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
  
  input[type=button] {
    font-family: Montserrat-Bold;
    font-size: 15px;
    line-height: 1.5;
    color: #e0e0e0;
  
    cursor: pointer;
    width: 30%;
    height: 50px;
    border-radius: 25px;
    background: #333333;
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 25px;
    border: none;
    box-shadow: 0 0 20px 1px rgba(0, 0, 0, 0.04);
  }
  
  input[type=button]:hover {
    background-color: orange;
    color: #fff;
  }
  /*----- END OF FORM ACTIONS (Submit and Cancel )-----*/
  